
<body [ngStyle] = "{'background-color' : 'black'}">
<div class="container"> 
     
  
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="background-color: lavender;">
                    <h1>Admin Area</h1>
                    <h5>Login to Manage Property</h5>
                </div>
                <hr>
                <form action="">

                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Email Id :</label>
                        <input type="email" class="form-control" id="formGroupExampleInput"
                            placeholder="Admin Email"  autocomplete="off" required="">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Password :</label>
                        <input type="password" class="form-control" id="formGroupExampleInput2"
                            placeholder="Admin Password"  autocomplete="off" required="">
                    </div>
                    <button type="button" class="btn btn-primary text-center" style="background-color:black" routerLink="/propertis" >Login</button>
                    
                </form>
                <a style="text-decoration: none; cursor: pointer; color:red" routerLink="/signup">Create new ? Click to Signup</a>
            </div>
        </div>
    </div>

</div>
</body>
